<!DOCTYPE html>
<div class="content-top-nav">
	<h3 style="color:#444"><i class="layui-icon layui-icon-home"></i> 栏目管理 / 栏目列表</h3><hr>
</div>
<div class="layui-fluid">
    <div class="layui-form">
		<div class="layui-form-item">
            <label class="layui-form-label required">上级栏目</label>
				<div class="layui-input-inline">
					<select name="pid" lay-verify="">
					 <option value="0">顶级栏目</option>
					<?php foreach($list as $key=>$vo){?>
					  <option value="<{$vo['id']}>"><{$vo['cname']}></option>
					<?php }?>  
					</select>  
					 <tip>选择上级栏目</tip>
				</div>
        </div>
		<div class="layui-form-item">
            <label class="layui-form-label required">栏目名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入名称" value="" class="layui-input">
                 <tip>一般 为中文 如：后台首页</tip>
            </div>
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label">栏目类型</label>
			<div class="layui-input-inline">
			  <input type="radio" name="type" value="1" title="列表" checked>
			  <input type="radio" name="type" value="0" title="频道">
			</div>
		  </div>
		<div class="layui-form-item">
            <label class="layui-form-label required">栏目模板</label>
            <div class="layui-input-inline">
                <input type="text" name="theme" placeholder="请输入栏目模板" value="" class="layui-input">
            </div>
			<tip>留空为系统默认模板 制作模板放在： \app\index\v1.0\view\default\contents\ 下,直接填写 如: list_XX.html 即可</tip>
        </div>		
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
			$.post('/admin.php?c=contentcate&a=add',data.field,function(res){
                if(res.status == 1){
                    layer.msg(res.info, {icon: 1, time: 1000}, function(){
						loadMain("/admin.php?c=contentcate&a=index");
                    });
                }else{
                    layer.msg(res.info, {icon: 2, anim: 6, time: 5000});
                }
            });
            return false;
        });

    });
</script>