<!DOCTYPE html>
<div class="content-top-nav">
	<h3 style="color:#444"><i class="layui-icon layui-icon-home"></i> 修改密码</h3><hr>
</div>
<div class="layui-fluid">
    <div class="layui-form">
		<div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" lay-verify="required" value="<{$info['username']}>" disabled="" class="layui-input"> 
            </div>
        </div>
		<div class="layui-form-item">
            <label class="layui-form-label required">昵称</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" lay-verify="required" lay-reqtext="昵称不能为空" placeholder="请输入昵称" value="<{$info['nickname']}>" class="layui-input">
                <tip>一般为真实姓名</tip>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
			<input type="text" name="password" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
			<input type="hidden" name="id" value="<{$info['id']}>">
                <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
			$.post('/admin.php?c=adminuser&a=passwordedit',data.field,function(res){
                if(res.status == 1){
                    layer.msg(res.info, {icon: 1, time: 1000},function(){
						loadMain("/admin.php?c=index&a=home");
					});
                }else{
                    layer.msg(res.info, {icon: 2, anim: 6, time: 5000});
                }
            });
            return false;
        });

    });
</script>