<!DOCTYPE html>
<html>
<import file="block/common.html" name="header"/>
<body>
<import file="block/common.html" name="nav"/>
<div class="layui-container">
	<div class="layui-card cxuu_top">
		<div class="layui-card-body cxuu_top_info">
			<div class="cxuu_top_left">
			<i class="layui-icon layui-icon-face-smile" style="font-size: 16px; color:red;"></i> 
			<?php $ondutyInfo = \model\ondutys::findData(); ?>
			今日(<?php echo $ondutyInfo['ondutytime'];?>) 值班 - 
			公司领导：<b> <?php echo $ondutyInfo['juname'];?></b>
			部门领导：<b> <?php echo $ondutyInfo['chuname'];?></b>
			值班员：<b> <?php echo $ondutyInfo['yuanname'];?></b>
				</div>
			<import file="block/common.html" name="search"/>
		</div>
	</div>
	<div id="cxuu_main">
	<div class="layui-card">
	 <!--头条-->
		<div class="layui-card-body cxuu_infofirst">
		<?php foreach((array)\model\article::selectData(6,1,60,0,1) as $vo){?>
			<a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],38);?></a></li>
		<?php }?>
		</div>
	</div>
	<div class="layui-row cxuu_imagefoce">
		<div class="layui-col-xs7">
		  <div class="layui-carousel cxuu_imgfoce" id="headerfoce">
		  <div carousel-item="">		  
		  <!--图片轮换-->
			<?php foreach((array)\model\article::selectData('3,6',5,60,1,3) as $vo){?>
			  <div>
			  <a href="<?php echo urlInfo($vo['id']);?>" target="_blank">
			  <div class="imgs"><img height=400 width=640 src="<?php echo $vo['img'];?>"></div>
			  <div class="title"><?php echo cxuuMbStr($vo['title'],30);?></div>
			  </a>
			  </div>
			<?php }?>
		  </div>
		</div>
		</div>
		<div class="layui-col-xs5">
			<div class="layui-card">
			<!--小头条-->
			<div class="layui-card-header cxuu_infosecend">
			<?php foreach((array)\model\article::selectData(6,1,60,0,2) as $vo){?>
				<a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],20);?></a></li>
			<?php }?>
			</div>
			<!--推荐列表位置 一般为最新内容-->
			<div class="layui-card-body cxuu_infolist">
				<?php foreach((array)\model\article::selectData(0,10,60) as $vo){?>
				  <ul>
					<li><span class="layui-badge-dot layui-bg-blue"></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],26);?></a></li>
				  </ul>
				<?php }?>
			</div>
			</div>
		</div>
	</div>
	</div>
	
	
	<div id="cxuu_main">
	  <div class="layui-row layui-col-space10">
	  
		<div class="layui-col-md2">
		  <div class="layui-card">
			<div class="layui-card-body cxuu_appicolist">
			  <ul>
				<a href="" target="_blank"><li class="bg1"><div class="cxuu_appicotitle">FTP</div></li></a>
				<a href="" target="_blank"><li class="bg2"><div class="cxuu_appicotitle">XX系统</div></li></a>
				<a href="" target="_blank"><li class="bg3"><div class="cxuu_appicotitle">XX系统</div></li></a>
				<a href="" target="_blank"><li class="bg4"><div class="cxuu_appicotitle">XX系统</div></li></a>
				<a href="" target="_blank"><li class="bg5"><div class="cxuu_appicotitle">XX系统</div></li></a>
				<a href="" target="_blank"><li class="bg6"><div class="cxuu_appicotitle">XX系统</div></li></a>
			  </ul>

			</div>
		  </div>
		</div>
		
		<div class="layui-col-md5">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title"><a href="<{ urlList(6) }>">公司要闻</a></div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach((array)\model\article::selectData(3,8,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a> <?php echo $vo['imgbl'] ==1 ?'<i class="layui-icon layui-icon-picture" style="color:#f84c4c"></i>':'';?></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		
		<div class="layui-col-md5">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">通知通报</div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach((array)\model\article::selectData(6,8,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a> <?php echo $vo['imgbl'] ==1 ?'<i class="layui-icon layui-icon-picture" style="color:#f84c4c"></i>':'';?></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		
	  </div>
	</div> 
	
	<div id="cxuu_main_margintop10"><div class="cxuu_index_ad"></div></div>
	
	<div id="cxuu_main">
	  <div class="layui-row layui-col-space10">
		<div class="layui-col-md2">
		  <div class="layui-card">
			<div class="layui-card-body cxuu_imglist">
			<!---首页图片列表--->
			  <ul>
			  <?php foreach((array)\model\article::selectData(0,2,60,1,3) as $vo){?>			  
				<li>
				<div class="cxuu_img"><a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><img height=120 width=170 src="<?php echo $vo['img'];?>"></a></div>
				<div class="cxuu_imgtitle"><a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],24);?></a></div>
				</li>  
			<?php }?>
			</ul>
			</div>
		  </div>
		</div>
		
		<div class="layui-col-md5">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">部门新闻</div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach(\model\article::selectData(3,10,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		<div class="layui-col-md5">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">基层新闻</div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach((array)\model\article::selectData(3,10,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		
	  </div>
	</div> 
	<div id="cxuu_main">
	
	<div class="picScroll-left">
	<div class="hd"><a href="/images/">图集</a></div>
			<div class="bd">
				<ul class="picList">
				<?php foreach((array)\model\images::selectData() as $vo){?>
					<li>
						<div class="pic"><a href="<?php echo urlImage($vo['id']);?>" target="_blank"><img src="<?php echo $vo['img'];?>" /></a></div>
						<div class="title"><a href="<?php echo urlImage($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></div>
					</li>
				<?php }?>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="cxuu_main">
	  <div class="layui-row layui-col-space10">
	  
		<div class="layui-col-md4">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">学习资料</div></div>
			<div class="layui-card-body cxuu_infolist">
			<!---CID  条数  缓存时间--->
			  <?php foreach((array)\model\article::selectData(6,10,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		
		<div class="layui-col-md4">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">政策法规</div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach((array)\model\article::selectData(3,10,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		<div class="layui-col-md4">
		  <div class="layui-card">
			<div class="layui-card-header cxuu_index_list_title"><div class="title">好多栏目</div></div>
			<div class="layui-card-body cxuu_infolist">
			  <?php foreach((array)\model\article::selectData(3,10,60) as $vo){?>
			  <ul>
				<li><span class="layui-badge-dot layui-bg-blue"></span><span class="cxuu_time"><?php echo fTime($vo['time'],'m-d');?></span> <a href="<?php echo urlInfo($vo['id']);?>" target="_blank"><?php echo cxuuMbStr($vo['title'],22);?></a></li>
			  </ul>
			<?php }?>
			</div>
		  </div>
		</div>
		
	  </div>
	</div>
</div>
<import file="block/common.html" name="footer"/>
<div class="layui-container">
	<div style="text-align: center;height: 50px;line-height: 50px;">
		本站访问统计（PV值 缓存10分钟更新）- 今日访问：<span class="visit_today"></span> 
		昨日：<span class="visit_yesterday"></span> 
		总访问：<span class="visit_sum"></span> 
		最高日访问：<span class="visit_max"></span>
	</div>
</div>
<script src="/res/lib/jquery-1.11.3.min.js"></script>
<script src="/res/lib/superslide/jquery.SuperSlide.2.1.1.js"></script>
<script src="/res/lib/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['carousel','element','form'], function(){
  var element = layui.element,
  form = layui.form,
  carousel = layui.carousel;
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
  
  //监听提交
//  form.on('submit(submittitle)', function(data){
//   loading = layer.load(1, { shade: [0.1, '#fff'] });
//   $.post('/search.php', data.field);
//   return false;
// });
  
  carousel.render({
    elem: '#headerfoce'
    ,width: '640px'
    ,height: '430px'
    ,interval: 5000
	,indicator:'inside'
	,anim:'fade'
  });
  
  //console.log('<?php echo ROUTE['uri'];?>');
  
});
//图集切换
$(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:6,trigger:"click"});

$.getJSON('/visit', {}, function (data) {
	//console.log(data);
	$('.visit_today').text(data['today']);
	$('.visit_yesterday').text(data['yesterday']);
	$('.visit_sum').text(data['sum']);
	$('.visit_max').text(data['max']);
})
</script>
</body>
</html>