<!DOCTYPE html>
<html>
<import file="block/common.html" name="header"/>
<body>
<import file="block/common.html" name="nav"/>
<div class="layui-container">

    <div class="layui-card">
		<div class="layui-card-body cxuu_top_info">
		    <div class="layui-col-xs7">
				<import file="block/common.html" name="cateurl"/>
			</div>
			<div class="layui-col-xs5 ">
				<import file="block/common.html" name="search"/>
			</div>
		</div>
	</div>
	
<div id="cxuu_main">
    <div class="layui-row  layui-col-space10">
		<div class="layui-col-xs12">
			<div class="layui-card">
			<div class="layui-card-header cxuu_cate_title">领导信息</div>
			<div class="layui-card-body cxuu_imagelist">
			  <ul>
				<?php foreach($list as $key=>$vo){ ?>
				<li>
					<div class="pic"><img width="160" height="220" src="<?php echo $vo['photo'];?>" /></div>
					<div class="title"><?php echo $vo['name'];?></div>
					<div class="title"><?php echo $vo['duties'];?></div>
					<div class="title"><?php echo $vo['duty'];?></div>
				</li>
				<?php }?>
			  </ul>
			  </div>
			</div>
		</div>
	</div>
	
</div>
</div>


  <script src="/res/lib/layui/layui.js" charset="utf-8"></script>
  <script>
  layui.use(['element','layer'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer,
  element = layui.element;
      element.on('nav(demo)', function (elem) {
        layer.msg(elem.text());
      });

    });
  </script>
<import file="block/common.html" name="footer"/>
</body>
</html>