<!DOCTYPE html>
<ul class="layui-nav layui-nav-tree"  lay-filter="test">
  <li class="layui-nav-item layui-nav-itemed">
    <a class="" href="javascript:;">栏目管理</a>
    <dl class="layui-nav-child">
	<?php foreach($list as $vo){?>
      <dd><a href="javascript:;" onclick="loadMain('<?php echo $vo['url'];?>')"><i class="layui-icon <?php echo $vo['ico'];?>"></i> <?php echo $vo['name'];?></a></dd>
	<?php }?>  
      <!-- <dd><a href="javascript:;" onclick="loadMain('/admin.php?c=contentcate')">栏目列表</a></dd>
      <dd><a href="javascript:;" onclick="loadMain('/admin.php?c=contentcate&a=addview')">添加栏目</a></dd> -->
    </dl>
  </li>
</ul>
